@charset "UTF-8";

/*-----Color Palette ---------------
Deep Taupe = #71575D
English Lavender = #B18287
Vivid Tangerine = #FFAE91
Tumbleweed = #D9A98F
Peach = #FEC69F


-----End of Color Palette----------*/

:root {
    --tumbleweed: #D9A98F;
    --peach: #FEC69F;
    --off-white: #fff0bc;
    --not-sure: rgb(226, 178, 153);
    --white: #ffffff;
    --black: #000000;

    --goldenrod: hsla(44, 100%, 83%, 1);
    --seal-brown: hsla(30, 90%, 31%, 1);
    --orange-yellow: hsla(45, 98%, 94%, 1);
    --blue-jeans: hsla(199, 94%, 95%, 1);
}

/*------ Global Styles ------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Responsive Images Reset */
img {
    max-width: 100%;
    height: auto;
}

/* Body Reset */
body {
    margin: 0;
}

/* Typography Resets */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}


body {
    scroll-behavior: smooth;
    color: var(--black);
    margin: auto;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    /*background-color: var(--gradient-top);*/
}

img {
    width: auto;
    height: 100px;
}

a {
    color: var(--off-white);
}
a:hover {
    text-decoration: none;
}

h1 {
    font-size: 45px;
    line-height: 1;
}

h2 {
    font-size: 35px;
}

h1, h2 {
    font-family: Cambria, sans-serif;
    font-weight: 400;
    margin: 0;
}

.LI-profile-badge {
    padding: 0;
    margin: 0;
    align-items: center;
}

/*-----This Div defines the background styling for my profile section---------*/
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 2px dashed var(--not-sure);
    padding: 25px 0;
}

.divider section:last-of-type {
    border-bottom: none;
}

/* Profile
**************************************/
header {
    background-color: var(--blue-jeans);
    /*background-color: var(--deep-taupe);  !*Deep Taupe*!*/
    /*color:  #e6e8ea ;   !*#fff0bc*!*/
    /*color: #442404;*/
}

/*Projects
***********************************/
.projects {
    background: rgb(172, 172, 168);
    background: linear-gradient(115deg, rgba(172, 172, 168,1) 0%, rgba(143, 136, 130, 0.8) 50%, rgba(138,123,107,1) 100%);
}

.projects .container .btn {
    color: var(--white);
    background: var(--black);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.projects .container{
    width: 100%;
    text-align: end;
}

.projects .btn:hover {
    background: rgba(47, 48, 97, 0.8);
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

.project-item ~p {
    margin-left: 5px;
}

.divider .project-item ul li{
    margin-left: 20px;
}

/*Work Experience
*************************************/
.work {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url("../images/work.jpg");
    background-size: cover;
    background-position: top center;
    padding-bottom: 10px;
    color: var(--white);
}

/*Academic Achievements
*************************************/
.education {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.5) 100%), url("../images/sharon-mccutcheon-unsplash.jpg");
        background-size: cover;
    background-position: top right;
    padding-bottom: 10px;
    color: var(--white);
}

.education p {
    width: 75%;
}

.education .section {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.certifications {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("../images/joanna-kosinska-unsplash.jpg");
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
    color: var(--white);
}

.certifications p span {
    font-weight: bold;
    font-style: italic;
}

/*Let's Keep in touch!
***********************************/
footer {
    background: #1b0d13;
    color: #e6e8ea;  /*#582719*/
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/***************   Media   **************************/

@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }

    .content-wrap p {
        display: block;
        text-align: left;
    }

    .content-wrap li {
        text-align: left;
    }

    .project-item img {
        float: left;
        margin-right: 25px;
        padding-right: 25px;
    }


    .job-item {          /*This is the grid container*/
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }

    .LI-profile-badge {
        max-width: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 50px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
    .projects .container{
        width: 100%;
        text-align: center;
    }
    .work {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("../images/create_1920.jpg");
        background-size: cover;
        background-position: top center;
        padding-bottom: 10px;
        color: var(--white);
    }

    img {
        width: auto;
        height: 100px;
    }
}
